<!Doctype html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Product name</th>
            <th>Product number</th>
            <th>Is discount</th>
            <!--            <th>View product</th>-->
            <!--            <th>Delete product</th>-->
        </tr>
        </thead>
        <tbody>

        <tr th:each="purchaseDto : ${purchasesDto}">
            <td th:text="${purchaseDto.productName}"/>
            <td th:text="${purchaseDto.productNumber}"/>


        </tr>
        </tbody>


    </table>


<!--    <table class="table table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Name</th>-->
<!--            <th>Price</th>-->
<!--            <th>Is discount</th>-->
<!--            &lt;!&ndash;            <th>View product</th>&ndash;&gt;-->
<!--            &lt;!&ndash;            <th>Delete product</th>&ndash;&gt;-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="product : ${products}">-->
<!--            <td th:text="${product.id}"/>-->
<!--            <td th:text="${product.name}"/>-->
<!--            <td th:text="${product.price}"/>-->
<!--            <td th:text="${product.isDiscount}"/>-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a th:href="@{'/products/view/' + ${product.id}}" th:text="view"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a th:href="@{'/products/edit/' + ${product.id}}" th:text="edit"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->
<!--            &lt;!&ndash;            <td>&ndash;&gt;-->
<!--            &lt;!&ndash;                <a th:href="@{'/products/delete/' + ${product.id}}" th:text="delete"/>&ndash;&gt;-->
<!--            &lt;!&ndash;            </td>&ndash;&gt;-->

<!--        </tr>-->
<!--        </tbody>-->

<!--&lt;!&ndash;        <span th:text="${'Total number of products: ' + products.size()}"/>&ndash;&gt;-->

<!--    </table>-->

</div>
</body>
</html>